@font-face {
    font-family:"Barlow";
    src: url("/Assets/fonts/Barlow-Bold.ttf");
}
*::before,
*::after,
* {
    box-sizing: border-box;
    /* user-select: none; */
    font-family: "Barlow";
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.siteHeader {
    padding-top: 20px;
    width: 100%;
    
}

.siteNewHeader{
    position: fixed;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999999;
    background-color: white;
    transition: 0.2s;

}

.siteHeaderTop {
    position: fixed;
    top: 0px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999999;
    transition: 0.2s;
}

.headerInner {
    flex-basis: 41%;
}

.headerTownIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTopLink {
    text-decoration: none;
    color: #2F3035;
    font-size: 20px;
    font-weight: 700;
    padding: 2px 30px;
    letter-spacing: 1px;

}

.siteOptions {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-left: 20px;
}

.headerTownIcon {
    font-size: 20px;
    padding: 10px;
    color: #2F3035;
}

.siteUserData {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.like,
.basket,
.user {
    cursor: pointer;

}

.siteLogo {
    width: 210px;
    text-align: center;
}

.siteUserData {
    flex-basis: 10%;
}

.siteList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    padding: 10px;
    background-color: #F0F0F4;
    margin-top: 100px;
}

.siteLink {
    text-decoration: none;
    color: #333438;
    font-size: 19px;
    font-weight: 400;
}

.siteLinks {
    font-weight: 600;
    font-size: 20px;
    color: #2F3035;
    text-decoration: none;
}

.extrimDriveSection {
    width: 100%;
    height: 75vh;
    margin-top: 100px;
}

.extrimContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extrimLeftContainer {
    width: 950px;
    height: 450px;
}

.stockImage {
    width: 335px;
    height: 450px;
}

.containerAboutSale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.stockTitle {
    width: 70px;
    height: 30px;
    background-color: #1C62CD;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.containerSalePrise {
    font-size: 27px;
    font-weight: 700;
    /* line-height: 32.4px; */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 10px; */
}

.saleAbout {
    margin-left: 260px;
}

.search-form {
    margin-block: 5rem;
}

.search-input {
    width: 1170px;
    height: 40px;
    padding-inline: 5px;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    background: #F0F0F4;
}

.search-btn {
    width: 145px;
    height: 38px;
    border-radius: 3px;
    background: #2f63c6;
    color: #fff;
    border: none;
    font-size: 20px;
}

.tovars-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 10px;
}

.tavars-item {
    width: 370px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 9px;
    background: #fff;
    border: 1px solid #cdcdcd;
    margin-block: 10px;
}
.tovars-info-link{
    text-decoration: none;
    color: #c4c4c4;
}
.populars{
    position: relative;
    width: 1241.18px;
height: 500px;
margin: 0 auto;
gap: 0px;
opacity: 0px;

}
.product-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.hover-btn{
 display: none;
}

.product {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 240px;
    padding: 15px;
    
    text-align: center;
}
.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}
.product p.price {
    font-size: 16px;
    font-weight: bold;
}
.product .sale {
    position:absolute;
    top: 10px;
    left: 10px;
    background-color: #0080ff;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}
.product .basket {
    position:absolute;
    bottom: -10px;
    right: 0px;
    background-color: #0080ff;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}
.product .like {
    position:absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}
.out-of-stock {
    color: red;
    font-weight: bold;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #0080ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}